*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.player1,
.player2 {
  font-size: 50px;
  color: white;
  background-color: green;
  border: 2px solid rgb(6, 214, 255);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
}
.player2 {
  background-color: #a13636;
  border: 2px solid rgb(6, 214, 255);
}
button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transform: translate(0,50%);
}
.p1 button{
    transform: translate(0,-50%);
    

}
.dies{
    padding-top: 130px;
    margin: 0 auto;
    
   
    
}
.p1,
.p2 {
  width: 100px;
  border: 1.5px solid black;
  display: grid;
  place-items: center;
  height: 200px;
}
.p1 {
  background-color: #a13636;
  
  
  border-radius: 40px 40px 0 0;
}
.p2 {
  background-color: green;
  border-radius: 0 0 40px 40px;
}
.snakegame
{
    display: flex;
    
}


.grid-container {
    
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
 
    border: 1px solid black;
    width: 800px; 
    height: 550px;
    position: relative;
    
  }
  img{
    position: absolute;
  
    height: 550px;
    width: 800px;
    opacity: 0.89;
  }
  
  .grid-container > div{
    background-color: rgb(248, 241, 241);
    border: 1px solid black;
  }
 
 .id1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 520px;
    left:0px;
  
    background-color: green;
    z-index: 99;
  
  
    
   
    
    
    
 }
 .id2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 520px;
    left: 0px;
    border-radius: 50%;
    background-color:#a13636;
    z-index: 99;
   
  
 }
.id1,.id2{
    border: 2px solid black;
    border-radius: 13px;
    
   
 
    
    
    
}


